*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
.header header{
    width: 100%;
    background:url(image/bgimage.jpg) no-repeat 50% 20% / cover;
    
    
   min-height: calc(100px + 15vw);
}
.header .cols_container .left_col{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;

}
.header .cols_container .left_col .image_container{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translatex(-50%);
    /* display: flex
    align-items: center;
    justify-content: center;
    margin-top: 30%; */
}
.header .cols_container .left_col .image_container img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.image_container span{
    position: absolute;
    background: #2afaba;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}
 .cols_container .left_col h2{
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;

}
.cols_container .left_col p{
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}
.cols_container .left_col .about{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}
.cols_container .left_col .about li{
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}
.cols_container .left_col .about li span{
    color: #1d1d1d;
    font-weight: 600;
}
.cols_container .left_col .about:after{
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 100%;
}
.cols_container .content p{
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8em;
}
.cols_container .content ul{
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.cols_container .content ul li{
    display: flex;
}
.cols_container .content ul i{
    font-size: 1.3rem;
}
.cols_container .right_col nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 0;
}
.cols_container .right_col nav ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.cols_container .right_col nav ul li a{
    text-transform: uppercase;
    color: #818181;
}
.cols_container .right_col nav ul li:nth-child(1) a{
    color: #1d1d1d;
    font-weight: 600;
}
.cols_container .right_col nav button{
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.cols_container .right_col nav button:hover{
    opacity: 0.8;
}
.cols_container .right_col .photos{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(190px, 1fr));
    gap: 20px;
}
.cols_container .right_col .photos img{
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}